body {
	background: #222;
}

.botcontent {
	height: 100vh;
	margin: 0;
	display: grid;
	place-items: center;
	background: #222;
	color: white;
}

.name {
	font-size: 72px;
	background: -webkit-linear-gradient(#1b6cff, #c324ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 0px;
	margin-top: 20px;

}

.border {
	padding: 1rem;
	position: relative;
	padding: 3px;
	background: #1b6cff;
	animation: border 4s ease 0s infinite;
}

@keyframes border {
	0% {
		background: #c324ff;
	}
	
	50% {
		background: #1b6cff;
	}
	
	100% {
		background: #c324ff;
	}
}

.module {
	background: #222;
	color: white;
	padding: 2rem;
}

img {
	margin-top: 0px;
}

.other {
	display: block;
	margin: 0;
	padding: 0;
}

.other h3 {
	margin: 10xp 0 0 10px;
	color: white;
}

.other a {
	padding: 10px;
	background: #222;
	color: white;
	text-decoration: none;
	margin: 0;
	transition: background 0.3s;
}

.other a:hover {
	color: #222;
	background: white;
}

::selection {
	color: #222;
	background: #c024ff;
}