body {
	background: #424242;
	margin: 0;
	padding: 0;
}

.navbar {
	color: #FFF;
	margin: 0;
	width: 100%;
	min-width: 100%;
	display: flex;
	background: #222;
	padding: 0;
	box-shadow: 0 3px 3px 0;
}

.navbar a {
	padding: 20px;
	color: white;
	text-decoration: none;
	display: flex;
}

.navbar a:hover { 
	background: #000;
}

#previev, #img {
	text-align: center;
	background: -webkit-linear-gradient(#1b6cff, #c324ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media (max-width:800px) {
	.navbar {
		display: block;
	}
	
	.navbar a {
		display: block;
	}
}

#Content {
	text-align: center;
}

#Content h1 {
	text-align: center;
	background: -webkit-linear-gradient(#1b6cff, #c324ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#Content h2{
	text-align: center;
	background: -webkit-linear-gradient(#1b6cff, #c324ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#search {
	background: transpartament;
	border-radius: 14px;
	padding: 0;
	margin: 0 auto;
	width: 270px;
	text-align: left;
	display: flex;
}

#search input {
	background: transparent;
	text-align: left;
	border: none;
	width:0px;
	background: white;
	border-radius: 14px 0 0 14px;
	padding: 0;
	margin: 0;
	padding: 12px 0px 12px 20px;
	width:0px;
	transition: all 0.3s ease;
}

#si:focus {
	width: 200px;
	padding: 12px 20px 12px 20px;
	color: #111;
}

.sd {
	background-color: #222;
	border-radius:0 10px 10px 0;
	height: 60px;
	width:60px;
	background-position: 5px 0 0 5px;
}

.sd:hover {
	background-color: #111;
}	

.border {
	background: linear-gradient(45deg, #1b6cff, #c324ff);
	padding: 1px;
	margin: 20px auto;
	margin-bottom: 0;
	width: 140px;
}	

.prefix {
	color:#FFF;
	padding: 20px;
	text-align: center;
	width: 100px;
	margin-bottom: 0;
	background: #424242;
}

#ListCom {
	color: #FFF;	
	text-decoration: none;
	text-align: center;
	margin: 50px auto;
	list-style: none;
}

#ListCom li a{
	padding: 20px;
	color: #FFF;
	background:#111;
	text-decoration: none;
	margin:  0 auto;
	display: block;
	width: 300px;
	transition: all 0.3s;
}

#ListCom li a:hover {
	background: #FFF;
	color: #111;
}

#border, #border2 {
	padding: 1px;
	max-width: 300px;
	margin: 10px auto; 	
}

#usetage, #about-command {
	background: #424242;
	padding: 20px;
	margin:0;
	color: #FFF;
}

::selection {
	background: #1b6cff;
	color: #c324ff;
}